@(signupForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.signup.title"),"signup") {
    
  <div class="row">
    <div class="span6">
      <h1>@Messages("playauthenticate.signup.title")</h1>
    </div>
  </div>

  <div id="signup" class="row">

    <div class="span3">
        @* Display proprietary login form *@
    	@helper.form(routes.Application.doSignup) {
    	
            @if(signupForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@signupForm.globalError.message</span>
		        </p>
            }
            
             @inputText(
                signupForm("name"),
                '_label -> Messages("playauthenticate.signup.name")
             )

            @inputText(
                signupForm("companyName"),
                '_label -> "Company Name"
            )

            @helper.select(
                signupForm("businessDimension"),
                options(
                    " < 50 " -> " < 50 ",
                    " 50 - 250 " -> " 50 - 250 ",
                    " > 250 " -> " > 250 "),
                '_label -> "Business dimension (numbers of employers)",
                '_default -> "-- Select dimension --"
            )

            @helper.select(
                signupForm("mainInterests"),
                options(
                    " Fashion " -> " Fashion ",
                    " Clothing accessories " -> " Clothing accessories ",
                    " Other " -> " Other "),
                '_label -> "Main area of interests",
                '_default -> "-- Select  --"
            )

            @inputText(
            signupForm("nation"),
            '_label -> "Nation"
            )

            @inputText(
                signupForm("city"),
                '_label -> "City"
            )

            @checkbox(
                signupForm("accessibility"),
                '_default -> "False",
                '_label -> "Accessibility"
            )

             @_emailPartial(signupForm)
             
             @_passwordPartial(signupForm)

            <input type="submit" value="@Messages("playauthenticate.signup.now")" class="btn btn-primary">
    	}
    </div>


  </div>

}