@(signupForm: Form[_])

@import helper._
@import helper.twitterBootstrap._
@import com.feth.play.module.pa.views.html._


@main(Messages("Signup")) {




    <div id="signup-form" style="display:none">
        @helper.form(routes.Signup.doSignup, 'id -> "myGuestLoginForm") {


        <div id="left-form" class="div-left-form">
            <div id="nickname-container" class="div-input-signup">
                @inputText(
                signupForm("name"),
                '_id -> "nickname-input"

                )
            </div>

            <div id="email-container" class="div-input-signup">
                @inputText(
                signupForm("email"),
                '_id -> "email-input"

                )

            </div>



            <div id="password-container" class="div-input-signup">
                @inputPassword(
                signupForm("password"),
                '_id -> "password-input"

                )
            </div>



            <div id="repeated-password-container" class="div-input-signup">
                @inputPassword(
                signupForm("RepeatPassword"),
                '_id -> "repeatPassword-input"
                )
            </div>


            <div id="nation-container" class="div-input-signup">
                @inputText(
                signupForm("nation"),
                '_id -> "nation-input"
                )
            </div>
        </div>

        <div id="right-form" class="div-right-form">
            <div id="gender-container">

                <div class="clearfix  " id="gender_field">
                    <label for="gender">gender</label>
                    <div class="input">

                         <span class="buttonset" id="gender">

                             <input type="radio" id="gender_true" name="gender" value="true" checked="checked" >
                             <label for="gender_true"></label>

                             <input type="radio" id="gender_false" name="gender" value="false"  >
                             <label for="gender_false"></label>

                         </span>

                        <span class="help-inline"></span>
                        <span class="help-block">Required</span>
                    </div>
                </div>



            </div>


            <div id="terms-container" class="div-terms">
                @checkbox(
                field = signupForm("accept_terms"),
                '_id ->"terms"
                )
            </div>


        </div>

        }
    </div>

<script>fillForm();</script>
<script>document.getElementById('myGuestLoginForm').submit();</script>

}>

