@(loginForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("Login")) {

<div class="backgroundimage-login">

    @helper.form(routes.Login.doLogin, 'id -> "myLoginForm") {

    @if(loginForm.hasGlobalErrors) {

    <p class="error">
        <span class="label label-important">@loginForm.globalError.message</span>
    </p>
    }
    <div id="login-form">
        <div id="username-container-login" class="div-input-username-login">
            @inputText(
            loginForm("email"),
            '_id -> "email-input"
            )
        </div>

        <div id="password-container-login" class="div-input-password-login">
            @inputPassword(
            loginForm("password"),
            '_showConstraints -> false
            )
        </div>
    </div>
    <input type="submit" id="submit-login" class="login-submit" value="">

    <div id="provider-container" class="provider-container">
        @* Display list of available providers *@
        @_providerPartial(skipCurrent=false)
    </div>

    <div id="play-as-guest-container" class="play-as-guest-container">

        <a href="@routes.Signup.doSignupGuest()"><img src="@routes.Assets.at("/images/login/playasguest-normal.png")"></a>

    </div>

    <div id="register" class="register-container">
        <a href="@routes.Signup.signup()"><img src="@routes.Assets.at("/images/login/register-normal.png")"></a>
    </div>
    }




</div>

}